.navbar-brand {
    font-size: 30px;
    margin-left: 20px;
}

.navbar {
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.login {
    width: 150px;
    background-color: #ffe4c4;
    font-size: 15px;
}

.langhead {
    display: flex;
    align-items: center;
    font-size: .75rem;
    font-weight: 400;
    box-sizing: inherit;
    text-align: center;
    line-height: 1.5rem;
}

.flag {
    width: 1rem;
    height: 0.75rem;
}

.btn-select-lang {
    background-color: rgba(249, 245, 245, 0.423);
    border-color: rgba(249, 245, 245, 0.423);
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

.indiaflag {
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
}